@charset "UTF-8";

.hidden {
	display: none;
}

body {
	max-width: 1200px;
}


.container {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  text-align: center;
}

#malBio:hover {
	background-image: url(file:///Users/mallorycoleman/Desktop/coleman_m_beatty_l_DynamicTeamPage/images/black_background.jpg);
	border: 2px solid white;
}


.container:hover h1 {
	text-decoration: underline;

}

.malName:hover {
	color: #47005c;
}

.malHeadshot {
	border: 2px solid black;
	border-radius: 260px;
}

.malHeadshot:hover {
	border: 2px solid white;
	border-radius: 260px;
}


.lucHeadshot {
	border: 2px solid black;
	border-radius: 260px;
}

.lucHeadshot:hover {
	border: 2px solid white;
	border-radius: 260px;

}

h1 {
    font-family: 'Average', serif;
	font-size: 40px;
	color: black;
	background-color: white;
}