@charset "UTF-8";

.hidden {
	display: none;
}

body {
	max-width: 1200px;
}

.container {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}


.malHeadshot:hover {
	border: 1px solid white;
	border-radius: 130px;
}


.lucHeadshot:hover {
	border: 1px solid white;
	border-radius: 260px;

}


h1 {
    font-family: 'Average', serif;
	font-size: 40px;
	background-color: white;
}
